.imageToggleComponent
  max-width: 100%

.images
  display: grid
  grid-template-areas: 'image'
  box-sizing: content-box
  padding: 24px 0 36px
  margin: 0
  overflow: hidden

  text-align: center

  img
    display: block
    grid-area: image
    max-width: 100%
    margin: 0 auto
    opacity: 0

    transition: opacity 0.3s ease

    &.selected
      opacity: 1
      z-index: 1