.imageToggleComponent
  max-width: 100%

.images
  position: relative
  box-sizing: content-box
  padding: 24px 0 36px
  margin: 0
  overflow: hidden

  text-align: center

  img
    display: block
    max-width: 100%
    position: absolute
    left: 50%
    transform: translateX(-50%)
    opacity: 0

    transition: opacity 0.3s ease

    &.selected
      opacity: 1