@import "global_styles/colors.sass"
@import "global_styles/breakpoints.sass"

.app
  // 700px is the width of an article on rbb24.de
  width: 700px
  max-width: 100%
  position: relative
  margin: 0 auto
  display: flex
  flex-direction: column

  .imageToggleConfig
    code
      display: inline-block
      background: #eee
      white-space: pre
      padding: 0.2em
      border: 1px solid #ddd
    
    .imageList
      position: relative

      .removeLink
        position: absolute
        right: 0
        display: none

      li:hover
        .removeLink
          display: inline

    .addImageRow
      display: flex
      flex-direction: row
      
      label, input
        margin: 0 0.6em
